<div>
    <!-- {{ jobdata }} -->



    <ul>
        <li ng-repeat='app in info'>
            <span class="blueType">Company: </span>{{app.company}}
            <br>
            <span class="blueType">Title: </span>{{app.job_title}}
            <br>
            <span class="blueType">Listing Url: </span>{{app.listing_URL}}
            <br>
            <a ng-href="#/show/{{ app.id }}">Update</a> ________________________________________________________________________________________________________________________
        </li>

        <br>

    </ul>
    <!-- <div ng-repeat="job in jobdata"> -->
</div>
