<form ng-submit="#">
    <h3>New Application</h3>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Company</span>
      <input type="text" class="form-control" placeholder="Company Name">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Title</span>
      <input type="text" class="form-control" placeholder="Job Title">
    </div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Current Status</span>
      <input type="text" class="form-control" placeholder="Status">
    </div>
    <div class="container">
  <div class="row">
      <div class='col-sm-6'>
          <div class="form-group">
              <div  class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">Application Date
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>

  </div>
</div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Listing Url</span>
      <input type="text" class="form-control" placeholder="www.mcdonaldscareers.com">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Listing Source</span>
      <input type="text" class="form-control" placeholder="Monster.com">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Status</span>
      <input type="text" class="form-control" placeholder="Waiting for call">
    </div>
    <br>
    <div class="container">
  <div class="row">
      <div class='col-sm-6'>
          <div class="form-group">
              <div  class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">Informational Interview Date
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <!-- <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker();
          });
      </script> -->
  </div>
</div>
<div class="container">
<div class="row">
<div class='col-sm-6'>
    <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">Phone Screeening Date
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script> -->
</div>
</div>
<div class="container">
<div class="row">
  <div class='col-sm-6'>
      <div class="form-group">
          <div class='input-group date' id='datetimepicker1'>
              <input type='text' class="form-control" />
              <span class="input-group-addon">Technical Interview Date
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
      </div>
  </div>
  <!-- <script type="text/javascript">
      $(function () {
          $('#datetimepicker1').datetimepicker();
      });
  </script> -->
</div>
</div>
<div class="container">
  <div class="row">
      <div class='col-sm-6'>
          <div class="form-group">
              <div  class='input-group date' id='datetimepicker1'>
                  <input type='text' class="form-control" />
                  <span class="input-group-addon">On-Site Interview Date
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
      <!-- <script type="text/javascript">
          $(function () {
              $('#datetimepicker1').datetimepicker();
          });
      </script> -->
  </div>
</div>
<div class="container">
<div class="row">
<div class='col-sm-6'>
    <div class="form-group">
        <div  class='input-group date' id='datetimepicker1'>
            <input type='text' class="form-control" />
            <span class="input-group-addon">Take Home Interview Date
                <span class="glyphicon glyphicon-calendar"></span>
            </span>
        </div>
    </div>
</div>
<!-- <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script> -->
</div>
</div>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Offer</span>
      <input type="text" class="form-control" placeholder="$">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Rejected</span>
      <input type="text" class="form-control" placeholder=":(">
    </div>
    <fieldset class="form-group">
   <label for="Textarea">Notes</label>
   <textarea class="form-control" id="NotesTextarea" rows="4"></textarea>
 </fieldset>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Resume</span>
      <input type="text" class="form-control" placeholder="Resume">
    </div>
    <br>
    <div>
    <label class="btn btn-default btn-file">
  Browse <input type="file" style="display: none;">
  </label>
  <label class="btn btn-primary" for="my-file-selector">
  <input id="my-file-selector" type="file" style="display:none;" onchange="$('#upload-file-info').html($(this).val());">
  <i class="fa fa-paperclip" aria-hidden="true"></i> Attach Resume
</label>
</div>
<br>
<span class='label label-info' id="upload-file-info"></span>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Cover Letter</span>
      <input type="text" class="form-control" placeholder="Letter">
    </div>
    <br>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Company Webstite</span>
      <input type="text" class="form-control" placeholder="www.mcdonalds.com">
    </div>
    <br>
    <fieldset class="form-group">
   <label for="Textarea">Company Technology Notes</label>
   <textarea class="form-control" id="NotesTextarea" rows="4"></textarea>
 </fieldset>

  </form>
