<div ng-controller="NewController">
    <form name="newApplication" ng-submit="submitForm(newApplication.$valid)" novalidate>
        <h3>New Application</h3>
        <div class="form-group" ng-class="{ 'has-error' : newApplication.companyName.$invalid && !newApplication.companyName.$pristine }">
            <label>Company</label>
            <input type="text" name="companyName" class="form-control" ng-model="companyName" required>
            <p ng-show="newApplication.companyName.$invalid && !newApplication.companyName.$pristine" class="help-block">Company name is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : newApplication.jobTitle.$invalid && !newApplication.jobTitle.$pristine }">
            <label>Job Title</label>
            <input type="text" name="jobTitle" class="form-control" ng-model="jobTitle" required>
            <p ng-show="newApplication.jobTitle.$invalid && !newApplication.jobTitle.$pristine" class="help-block">Job title is required.</p>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : newApplication.listingUrl.$invalid && !newApplication.listingUrl.$pristine }">
            <label>Listing URL</label>
            <input type="text" name="listingUrl" class="form-control" ng-model="listingUrl">
            <p ng-show="newApplication.listingUrl.$invalid && !newApplication.listingUrl.$pristine" class="help-block">Listing URL is required.</p>
        </div>

        <fieldset class="form-group">
            <label for="exampleInputFile"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach Resume</label>
            <input type="file" class="form-control-file" id="exampleInputFile">
            <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
        </fieldset>


        <div class="form-group">
            <fieldset class="form-group">
                <label for="exampleInputFile"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach Cover Letter</label>
                <input type="file" class="form-control-file" id="exampleInputFile">
                <small class="text-muted">This is some placeholder block-level help text for the above input. It's a bit lighter and easily wraps to a new line.</small>
            </fieldset>
            <br>
            <br>
            <div class="form-group">



    </form>
    </div>
