
<span class="blueType">Company: </span> {{job.company}}
<br>
<span class="blueType">Job Title: </span> {{job.job_title}}
<br>
<span class="blueType">Listing Url: </span>
<a ng-href="{{job.listing_URL}}">{{job.listing_URL}}</a>
</div>
<div>
    <h4>Job Contacts</h4>
</div>
{{name}} {{contact.name}} {{contact.phone}}
<div>
    <form ng-submit="addActivity()">
        <h4>Job Activity</h4>
        <div class="form-group">
            <label for="">Type:</label>
            <input type="text" class="form-control" id="type" ng-model="type">
        </div>


        <div class="form-group">
            <label for="activity">Description</label>
            <textarea class="form-control" rows="5" id="description" ng-model="description"></textarea>
            <button id="add" type="submit" class="btn btn-primary btn-md">
                Add Activity
            </button>
        </div>
    </form>
</div>


<div>
    <h4>Recent Activity</h4>
    <div>

        {{type}} {{description}}


        <ul>
            <li ng-repeat='app in info'>

                <span class="blueType">Type: </span>{{app.type}}
                <br>
                <span class="blueType">Description: </span>{{app.description}}
                <br>


            </li>

            <br>

        </ul>




        {{type}} {{description}}
    </div>




    <div class="buttons">
        <a ng-href="#/job/{{job.id}}/addcontact" class="btn btn-primary btn-md">
              Add New Contact
            </a>
    </div>
