<!-- {% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <h1>{{ title }}</h1>
  <p>Welcome to {{ title }}</p>

  {% if profile %}
    <hr>
    <div class="row">
      <div class="col-xs-4">
        <img style="float: right;"
             src="{{ profile.avatar_url }}"
             alt="{{ profile.preferred_name }} {{ profile.last_name }}">
      </div>

      <div class="col-xs-8">
        <h3>{{ profile.preferred_name }} {{ profile.last_name }}</h3>
        <p>{{ profile.preferred_name }}'s Email: <strong>{{ profile.email }}</strong></p>
      </div>
    </div>
  {% endif %}

{% endblock %} -->
